<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="MSEDGE">
  <parameter name="browser" value="msedge"></parameter>
    <classes>
      <class name="qa.CrossBrowserTesting.CrossBrowserDemo"/>
    </classes>
  </test> <!-- CrossBrowserTest -->
  
   <test name="CHROME">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="qa.CrossBrowserTesting.CrossBrowserDemo"/>
    </classes>
  </test> <!-- CrossBrowserTest -->
  
   <test name="FIREFOX">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="qa.CrossBrowserTesting.CrossBrowserDemo"/>
    </classes>
  </test> <!-- CrossBrowserTest -->
</suite> <!-- Suite -->
